.contactos{
    display: block;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.contactos .ubicacion h3{
    font-size: 2.5rem;
    color: var(--rosado);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.contactos .ubicados{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 100%;
}

.contactos .ubicacion .fa-location-dot{
    color: blue;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: .5rem;
}

.contactos .ubicacion p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contactos .consulta{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    color: cornflowerblue;
    padding: 1rem;
}

.contactos .mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactos .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactos .ubicados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer h3{
    font-size: 2rem;
    color: #160b16;
}

footer p{
    font-size: 1.5rem;
    color: #332a2a;
}

footer a{
    color: #373536;
}


.countdown {
    font-size: 1.5em;
    font-weight: bold;
    color: whitesmoke;
    background: #282327;
    width: 13rem;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    transition: box-shadow .5s ease-in-out;
  }

  .countdown:hover{
    box-shadow: 0px 0px 40px #ef99f7 radial-gradient(circle, #f054ce, #710070);
    cursor: pointer;
    background: var(--celeste);
    color: #710070;
  }
  
  .countdown span {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    background: #000;
    color: #FFF;
  }
  .formulario form .heading{
    text-align: center;
  }
