@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Noto+Sans:ital,wght@1,200;1,300;1,400;1,500&family=Pacifico&family=Poppins:wght@200;400;500;600&family=Rubik:wght@300;400;500&display=swap');


:root{
    --rosadopastel: #ec62a4;
    --rosado: #d63384;
    --celeste:#0dcaf0;
    --celestepastel:#7EBCE7;
    --gris:#343a40;
    --degradado:linear-gradient(90deg, var(--rosado),var(--celeste))
}

*{
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
}

*::selection{
    background: var(--celeste);
    color: antiquewhite;
}

html{
    font-size: 62.4%;
    overflow-x: hidden;
}

body{
    background: whitesmoke;
}

header  h1{
    color: var(--celeste);
    font-size: 2.5rem;
}

header  h1:hover{
    transition: all .3s linear;
    transform: scale(1.1);
}

header  h1 span{
    color: var(--rosado);
    font-size: 2.5rem;
}

header  h1 span:hover{
    transform: scale(1.1);
    transition: all .3s linear;
}




section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 2rem 2rem;
    border-radius: 5rem;
    background-color: var(--rosado);
    font-size: 1.8rem;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
    color: var(--gris);
    background-color: var(--celestepastel);
}

.heading{
    text-align: center;
    background: var(--celeste);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}


/*! Encabezado */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*! Barra de Navegacion */

header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--gris);
}

header .navbar a:hover{
    color: var(--celestepastel);
}


header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--rosadopastel);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./imagenes/001.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio .image img{
    width: 40vh;
    animation: float 3s linear infinite;
}



@keyframes float{
    0% 100%{
        transform:translateY(0rem);
    }
    50%{
        transform:translateY(-3.5rem);
    }
}

.inicio .content h2{
    font-size: 4rem;
    color: cornflowerblue;
    text-transform: uppercase;
}

.inicio .content h2 span{
    color: palevioletred;
    text-transform: uppercase;
}

.inicio .content p{
    font-size: 2rem;
    color: var(--gris);
    padding: 1rem 0;
}

.detalles .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.detalles .caja-contenedor .caja{
    flex: 1 1 30rem;
    background: whitesmoke;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.detalles .caja-contenedor .caja img{
    height: 21rem;
}

.detalles .caja-contenedor .caja img:hover{
    transform: scale(1.2);
    transition: all .3s linear;
}

.detalles .caja-contenedor .caja h3{
    font-size: 2rem;
    color: rgba(6, 0, 0, 0.618);
    padding-top: 1rem;
}

.detalles .caja-contenedor .caja p{
    font-size: 1.3rem;
    color: rgb(17, 9, 9);
    padding: 1rem 0;
}

.acerca_de{
   /* background: url(/imagenes/002.png) no-repeat;*/
    background: cover;
    background-position: left;
    padding-bottom: 3rem;
}

.acerca_de .content h3{
    font-size: 2.7rem;
    color: var(--rosadopastel);
}

.acerca_de .columna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.acerca_de .columna image{
    flex: 1 1 40rem;
}

.acerca_de .columna image img{
    width: 100%;
}


.acerca_de .columna .content{
    flex: 1 1 40rem;
}

.acerca_de .columna .content p{
    font-size: 1.5rem;
    color: #343a40;
    padding: 1rem 0;
}

.acerca_de .columna .content .bottons :last-child{
    margin-left: 2rem;
}


.suscribete{
    text-align: center;
    padding: 5rem 1rem;
    background: url(/imagenes/header.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.suscribete h3{
    color: var(--rosado);
    font-size: 3rem;
    text-transform: uppercase;
}

.suscribete p{
    color: whitesmoke;
    font-size: 2rem;
    margin: 2rem auto;
    width: 70rem;
    text-shadow: 0 .3rem 1rem #343a40;
}

.suscribete form{
    display: flex;
    max-width: 70rem;
    border: .2rem solid whitesmoke;
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;
}

.suscribete form input[type="email"]{
padding: 0 2rem;
font-size: 1.7rem;
background: none;
width: 100%;
color: rgb(2, 0, 1);
text-transform: none;
background: none;
}

.suscribete form input[type="email"]::placeholder{
    color: rgb(21, 14, 0);
    text-transform: capitalize;
}

.suscribete form input[type="submit"]{
    background: white;
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
}

.suscribete form input[type="submit"]:hover{
    background: var(--rosado);
    color: whitesmoke;
}

.opiniones .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.opiniones .caja-contenedor .caja{
    background: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: 1rem solid rgba(0,0,0,.2);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    flex: 1 1 30rem;
    border-radius: .5rem;
    transition: .2s linear;
}

.opiniones .caja-contenedor .caja .fa-users{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: var(--rosadopastel);
    opacity: .3;
}


.opiniones .caja-contenedor .caja .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
}

.opiniones .caja-contenedor .caja .user .fotos:hover{
    transform: scale(1.2);
    transition: all .3s linear;
    cursor: pointer;
}

.opiniones .caja-contenedor .caja .user h3{
    color: var(--rosadopastel);
    font-size: 3rem;
}

.opiniones .caja-contenedor .caja .user .star i{
color: var(--rosado);
font-size: 1.5rem;
padding: 1rem 0;
}

.opiniones .caja-contenedor .caja .comentario{
    color: #343a40;
    font-size: 1.5rem;
    padding: 1rem;
}

.precio .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.precio .caja-contenedor .caja{
    flex: 1 1 22rem;
    margin: 1rem;
    padding: 1rem;
    background: whitesmoke;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.precio .caja-contenedor .caja:nth-child(2),
.precio .caja-contenedor .caja:hover{
    border: .2rem solid var(--celeste);
}

.precio .caja-contenedor .caja .titulo{
    color: #343a40;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.precio .caja-contenedor .caja .tipos{
    font-size: 4rem;
    color: #7EBCE7;
    padding: 1rem 0;
}

.precio .caja-contenedor .caja .tipos span{
    font-size: 2rem;
}

.precio .caja-contenedor .caja ul{
    padding: 1rem 0;
    list-style: none;
}

.precio .caja-contenedor .caja ul li{
    font-size: 2rem;
    color: #343a40;
    padding: .5rem 0;

}

.precio .caja-contenedor .caja ul li .fa-check{
    color: black;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.formulario .image{
    flex: 1 1 40rem;
}

.formulario .image img{
    width: 90%;
    padding: 2rem;
}

.formulario form{
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5 1rem rgba(0,0,0,.1);
    border-radius: 5rem;
    background: whitesmoke;
}

.formulario .heading{
    text-align: left;
    padding-bottom: 2rem;
}

.formulario form .inputcaja{
    position: relative;
}

.formulario form .inputcaja input, .contactos form .inputcaja textarea{
    width: 100%;
    background: none;
    color: #333;
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: .1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.formulario form .inputcaja textarea{
    resize: none;
    height: 100%;
    width: 100%;
}

.formulario form .inputcaja label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: .2s linear;
}

.formulario form .inputcaja input:focus ~ label,
.formulario form .inputcaja input:valid ~ label,
.formulario form .inputcaja textarea:focus ~ label,
.formulario form .inputcaja textarea:valid ~ label{
    top: -.5rem;
    font-size: 1.5rem;
    color: var(--rosado);
}

.footer{
    padding-top: 2rem;
    background: url(/imagenes/footer.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .caja-contenedor{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
}

.footer .caja-contenedor .caja{
    flex: 1 1 15rem;
    margin: 1.5rem;
}

.footer .caja-contenedor .caja h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: rgb(68, 14, 14);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .caja-contenedor .caja p{
    font-size: 2rem;
    padding: .5rem 0;
    color: #000c8f;
}

.footer .caja-contenedor .caja a{
    display: block;
    font-size: 1.5rem;
    padding: 5rem 0;
    color: rgb(68, 14, 14);
    
}

.footer .caja-contenedor .caja a:hover{
    text-decoration: underline;
}


.footer .caja-contenedor .caja .info{
    display: flex;
    align-items: center;

}

.footer .caja-contenedor .caja .info i{
    margin: 5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: wheat;
    color: #000c8f;
    font-size: 1.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .Creditos{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: rgb(47, 44, 39);
    border-top: .1rem solid wheat;
    padding: 2.5rem 1rem;
    text-align: center;
}





/*! Responsive */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }


}

@media (max-width:990px){
    section{
        pad: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}


@media (max-width: 768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transition: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header.navbar a{
        display: block;
        margin: 2rem 0; 
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }


    header input:checked ~ label::before{
        content: "\f00d";
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 100%;

    }

    .inicio .content p{
        font-size: 1.5rem;
    }

    .inicio .content h3{
        font-size: 49%;
    }

    .acerca_de{
        background-position: right;
    }

    .suscribete p{
        width: auto;
    }

}

@media (max-width: 450px){
    html{
        font-size: 49%;
    }

    .acerca_de .content h3{
        color: var(--celeste);
        background: none;
    }

        .acerca_de .columna .content .bottons a{
            width: 100%;
            text-align: center;
        }

        .acerca_de .columna .content .bottons a:last-child{
            margin: 1rem;
        }

        section h2{
            font-size: 4rem;
        }
        
        
        section h2 span{
            color: var(--rosado);
            font-size: 4rem;
        }

        .contactos .ubicados{
            display: contents;
            justify-content: center;
            align-items: center;
        }
        

    }



